.content-wrapper {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
    min-height: calc(100vh - 56px);
    overflow: hidden;
}

.generate-container {
    width: 100%;
    max-width: 700px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;
}

.card-post-result {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
    text-align: center;
}

.card-post-result img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

.card-post-result:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.results-wrapper {
    width: 100%;
}

.modal-footer .btn{
    min-width: 120px;
}