<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SMM Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
 <div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="d-flex justify-content-center align-items-center" style="min-height: 90vh; position: relative">
        <div class="text-center">
            <h1 class="display-4">Welcome to <span class="text-primary">SMM Generator AI</span></h1>
            <p class="lead">Easily create and schedule your own AI posts</p>
            <a class="btn btn-primary" th:href="@{/register}">Get Started</a>
        </div>
    </div>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>